/* Estos son los colores que vamos a usar
   Tres de escala de grises:
   gris claro: #F2F2F2
   gris: #8C8C8C
   gris obscuro: #404040
   
   y dos azules:
   azul fuerte: #0046c2
   azul claro: #0096c0
   para efectos especiales:
   rosa: #cf1889
   Naranja: #ec9129
   */

* {
    margin: 0px;
    padding: 0px;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3;
    grid-template-areas: "header" "contenido" "footer";
}

.contenedor .header {
    background-color: #404040;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "barsub" "barinf";
}

.contenedor .header .barsub {
    grid-area: barsub;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15% 5% 45% 5% 10% 10% 10%;
    grid-template-areas: "logoDiv menuDiv buscarDiv fotoperfilDiv nombreperfilDiv ubicacionDiv carritoDiv";
    max-height: 50px auto;
}

@media screen and (max-width: 1068px) {
    .contenedor .header {
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "barsub" "barinf";
    }
    .contenedor .header .barsub {
        justify-content: center;
        grid-template-columns: 25% 10% 10% 20% 10% 25%;
        grid-template-rows: auto;
        grid-template-areas: "logoDiv menuDiv fotoperfilDiv nombreperfilDiv ubicacionDiv carritoDiv" "buscarDiv buscarDiv buscarDiv buscarDiv buscarDiv buscarDiv";
    }
    .contenedor .header .barsub .buscarDiv {
        grid-column-start: -1;
        grid-column-end: 7;
    }
}

@media screen and (max-width: 600px) {
    .contenedor .header {
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "barsub" "barinf";
    }
    .contenedor .header .barsub {
        justify-content: center;
        grid-template-columns: 35% 30% 35%;
        grid-template-rows: auto;
        grid-template-areas: "logoDiv fotoperfilDiv nombreperfilDiv" "menuDiv  ubicacionDiv carritoDiv" "buscarDiv buscarDiv buscarDiv ";
    }
    .contenedor .header .barsub .carritoDiv {
        margin-right: 0rem !important;
    }
    .contenedor .header .barsub .buscarDiv {
        grid-column-start: -1;
        grid-column-end: 7;
    }
}

.contenedor .header .barsub .logoDiv {
    grid-area: logoDiv;
    justify-self: right;
    max-height: 50px;
}

.contenedor .header .logoDiv .logo {
    width: 130px;
    height: 65px;
    margin-left: 10px;
    z-index: +1;
}

.contenedor .header .barsub .menuDiv {
    grid-area: menuDiv;
    justify-self: center;
    align-self: center;
    text-align: left;
}

.contenedor .header .barsub .menuDiv .btnMenu {
    text-align: left;
}

.contenedor .header .barsub .menuDiv .dropMenu {
    background-color: #404040;
    color: #f2f2f2;
    min-width: 160px;
}

.contenedor .header .barsub .menuDiv .dropMenu:hover {
    color: #404040;
}

.contenedor .header .barsub .menuDiv .dropMenu .ct {
    color: #f2f2f2;
}

.contenedor .header .barsub .menuDiv .dropMenu .ct:hover {
    color: #404040;
}

.material-icons {
    color: #f2f2f2;
}

.contenedor .header .barsub .buscarDiv {
    grid-area: buscarDiv;
    align-self: stretch;
    color: #f2f2f2;
    height: 50px;
}

.contenedor .header .barsub .buscarDiv .buscador {
    max-height: max-content;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
    background-color: #8c8c8c !important;
}

.contenedor .header .barsub .buscarDiv .buscador .material-icons {
    line-height: 50px;
    /* Esto genera el tamaño no visible en altura */
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
    height: 48px;
    line-height: 48px;
}

.contenedor .header .barsub .fotoperfilDiv {
    grid-area: fotoperfilDiv;
    align-self: center;
    justify-self: center;
    padding-top: 5px;
}

.contenedor .header .barsub .nombreperfilDiv {
    grid-area: nombreperfilDiv;
    justify-self: left;
    margin-left: 10px;
    align-self: center;
    color: #f2f2f2;
}

.contenedor .header .barsub .nombreperfilDiv .btnIng {
    background-color: #0046c2;
}

.contenedor .header .barsub .ubicacionDiv {
    grid-area: ubicacionDiv;
    justify-self: center;
    align-self: center;
    color: #f2f2f2;
}

.contenedor .header .barsub .carritoDiv {
    grid-area: carritoDiv;
    align-self: center;
    padding-top: 5px;
    justify-self: center;
    margin-right: 3rem;
    display: grid;
}

.contenedor .header .barsub .carritoDiv .NumProductosCarrito {
    position: relative;
    display: grid;
    z-index: +1;
    color: #404040;
    text-align: left;
    justify-self: center;
    font-weight: 600;
    font-size: 14px;
}

.contenedor .header .barsub .carritoDiv .iconProductosCarrito {
    position: absolute;
    z-index: -1;
    text-align: left;
    justify-self: center;
    color: whitesmoke;
    font-size: 33px;
}

.contenedor .header .barinf {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px auto;
    grid-area: barinf;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% 10% 10% 10% 10% 10% 10% 20%;
    grid-template-areas: "marizq ejecutivaDiv trabajoDiv gamerDiv hardwareDiv gadetsDiv salirDiv marder";
}

@media screen and (max-width: 1068px) {
    .contenedor .header .barinf {
        max-height: auto !important;
        grid-template-columns: 10% 10% 20% 20% 20% 10% 10%;
        grid-template-rows: auto;
        grid-template-areas: "marizq ejecutivaDiv  trabajoDiv gamerDiv hardwareDiv gadetsDiv marder";
    }
    .contenedor .header .barinf .marder {
        justify-self: stretch;
    }
}

@media screen and (max-width: 600px) {
    .contenedor .header .barinf {
        max-height: auto !important;
        grid-template-columns: 5% 30% 30% 35%;
        grid-template-rows: auto;
        grid-template-areas: "marizq ejecutivaDiv trabajoDiv gamerDiv" "marizq hardwareDiv gadetsDiv  marder";
    }
    .contenedor .header .barinf .marder {
        grid-area: marder;
        padding-bottom: 0px !important;
        padding-top: 10px;
    }
    .contenedor .header .barinf .gadetsDiv {
        justify-self: stretch;
        align-self: center;
        color: #f2f2f2;
        grid-area: gadetsDiv;
        border-bottom: solid white;
        text-align: center;
    }
}

.contenedor .header .barinf .marizq {
    grid-area: marizq;
}

.contenedor .header .barinf .ejecutivaDiv {
    justify-self: stretch;
    align-self: center;
    color: #f2f2f2;
    grid-area: ejecutivaDiv;
    text-align: center;
    border-bottom: solid white;
}

.contenedor .header .barinf .trabajoDiv {
    justify-self: stretch;
    align-self: center;
    color: #f2f2f2;
    grid-area: trabajoDiv;
    text-align: center;
    border-bottom: solid white;
}

.contenedor .header .barinf .gamerDiv {
    justify-self: stretch;
    text-align: center;
    align-self: center;
    color: #f2f2f2;
    grid-area: gamerDiv;
    border-bottom: solid white;
}

.contenedor .header .barinf .hardwareDiv {
    justify-self: stretch;
    align-self: center;
    color: #f2f2f2;
    grid-area: hardwareDiv;
    border-bottom: solid white;
    text-align: center;
}

.contenedor .header .barinf .hardwareDiv .dropmenu {
    color: black !important;
    min-width: 160px;
}

.contenedor .header .barinf .hardwareDiv .colortext {
    color: #f2f2f2;
}

.contenedor .header .barinf .gadetsDiv {
    justify-self: stretch;
    align-self: center;
    color: #f2f2f2;
    grid-area: gadetsDiv;
    border-bottom: solid white;
    text-align: center;
}

.contenedor .header .barinf .salirDiv {
    grid-area: salirDiv;
}

.contenedor .header .barinf .marder {
    grid-area: marder;
    padding-bottom: 10px;
}

.contenedor .header .barinf .ejecutivaDiv:hover {
    justify-self: center;
    align-self: center;
    color: #f2f2f2;
    grid-area: ejecutivaDiv;
}

.contenedor .header .barinf .trabajoDiv:hover {
    justify-self: center;
    align-self: center;
    color: #f2f2f2;
    grid-area: trabajoDiv;
}

.contenedor .header .barinf .gamerDiv:hover {
    justify-self: center;
    align-self: center;
    color: #f2f2f2;
    grid-area: gamerDiv;
}

.contenedor .header .barinf .hardwareDiv:hover {
    justify-self: center;
    align-self: center;
    color: #f2f2f2;
    grid-area: hardwareDiv;
}

.contenedor .header .barinf .gadetsDiv:hover {
    justify-self: center;
    align-self: center;
    color: #f2f2f2;
    grid-area: gadetsDiv;
}


/* Aqui comienza el grid de contenido */

.contenedor .contenido {
    grid-area: contenido;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "carousel" "otroscontenidos";
}

.contenedor .contenido .card-title {
    color: #ec9129;
}

@media screen and (max-width: 1500px) {
    .contenedor .contenido .card-title {
        color: #ec9129;
        font-size: 15px;
        -ms-word-break: break-all;
        word-break: break-all !important;
    }
    .contenedor .contenido .CT {
        color: #ec9129;
        font-size: 19px;
        -ms-word-break: break-all;
        word-break: break-all !important;
    }
}

.contenedor .contenido .carousel {
    margin-top: 1rem;
    width: 100%;
    -webkit-box-shadow: 0px -7px 7px 1px rgba(178,175,186,1);
    -moz-box-shadow: 0px -7px 7px 1px rgba(178,175,186,1);
    box-shadow: 0px -7px 7px 1px rgba(178,175,186,1);
    justify-content: center;
    grid-area: carousel;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 100%);
}

.contenedor .contenido .carousel .carousel-item {
    width: 80%;
    height: 80%;
}

.contenedor .contenido .carousel .carousel-item .imgCaroCss {
    width: 100%;
    height: 75%;
}

@media screen and (max-width: 700px) {
    .contenedor .contenido .carousel {
        width: 100%;
        z-index: -1;
    }
    .contenedor .contenido .carousel .carousel-item {
        width: 100%;
        height: 30%;
    }
    .contenedor .contenido .carousel .carousel-item .imgCaroCss {
        width: 100%;
        height: 30%;
    }
}

.contenedor .contenido .otroscontenidos {
    justify-content: center;
    grid-gap: 1%;
    display: grid;
    grid-area: otroscontenidos;
    grid-template-columns: 5% 20% 20% 20% 20% 5%;
    grid-template-rows: auto;
    grid-template-areas: "marizq card1 card2 card3 card4 marder";
}

@media screen and (max-width: 700px) {
    .contenedor .contenido .otroscontenidos {
        justify-content: center;
        top: 23rem;
        z-index: +2;
        position: absolute;
        display: grid;
        grid-area: otroscontenidos;
        grid-template-columns: 100%;
        grid-template-areas: "marizq" "card1" "card2" "card3" "card4" "marder";
    }
}

.contenido .contenido .otroscontenidos .marizq {
    margin-left: 1rem;
    grid-area: marizq;
    justify-self: center;
    background-color: aqua;
}

.contenido .contenido .otroscontenidos .card1 {
    grid-area: card1;
}

.contenido .contenido .otroscontenidos .card2 {
    grid-area: card2;
}

.contenido .contenido .otroscontenidos .card3 {
    grid-area: card3;
}

.contenido .contenido .otroscontenidos .card4 {
    grid-area: card4;
}

.contenido .contenido .otroscontenidos .marder {
    grid-area: marder;
}

.contenedor .contenido .btnComprar {
    width: 177px;
    background-color: #0046c2;
    margin-right: 2rem;
    margin-left: 1rem;
}

.contenedor .contenido .btnAgregarCarrito {
    width: 177px;
    background-color: #cf1889;
    margin-left: 1rem;
}

.contenedor .contenido .btnComprar {
    background-color: #0046c2;
    margin-left: 1rem;
}

.contenedor .contenido .star {
    color: black;
    background: gold;
}


/* Aqui termina el grid de contenido */


/* Login Contenido Inicio */

.contenedor .contenido .login {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    grid-template-areas: "marizq row marder";
}

.contenedor .contenido .login .marizq {
    grid-area: marizq;
}

.contenedor .contenido .login .row {
    grid-area: row;
}

.contenido .contenido .login .row .btnCss {
    background-color: #0046c2;
}

.contenedor .contenido .login .marder {
    grid-area: marder;
}


/* Login Contenido Fin */


/* Prodcuto Contenido Inicio */

.contenedor .contenido .producto {
    display: grid;
    grid-template-columns: 10% 30% 35% 15% 10%;
    grid-template-rows: auto;
    grid-template-areas: 
    "marizq imagenProducto infoProducto opCarrito marder" 
    "marizq comentarioProducto comentarioProducto comentarioProducto marder";
}

@media screen and (max-width: 700px) {

    .contenedor .contenido .producto {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
    "imagenProducto"
    "marizq"
    "opCarrito"
    "infoProducto"
    "comentarioProducto"
    "marder" ;
    }
    

}


.contenedor .contenido .producto .marizq {
    grid-area: marizq;
    display: grid;
    justify-content: right;
    align-content: start;
    margin-top: 2rem;
    grid-template-columns: 1;
    grid-template-rows: auto;
    grid-template-areas: "img1" "img2" "img3" "img4";
}

@media screen and (max-width: 700px) {

    .contenedor .contenido .producto .marizq {
        grid-area: marizq;
        display: grid;
        justify-content: center;
        align-content: start;
        margin-top: 0rem;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        grid-template-areas: "img1 img2 img3 img4";
    
    }
    
    .contenedor .contenido .producto .marizq .imgsize {
        max-height: 100px;
    }
    
 
    .contenedor .contenido .producto .marizq .img1 {
      
        grid-area: img1;
    }
    
    .contenedor .contenido .producto .marizq .img2 {
        grid-area: img2;
    }
    
    .contenedor .contenido .producto .marizq .img3 {
        grid-area: img3;

    }
    
    .contenedor .contenido .producto .marizq .img4 {
        grid-area: img4;
    }
    
    .contenedor .contenido .producto .opCarrito .card-content {
        display: none;
    }
    
    .contenedor .contenido .producto .opCarrito .card-action {
        text-align: center;
    }
    
    .contenedor .contenido .producto .comentarioProducto {
        grid-area: comentarioProducto;
        padding: 10px;
    }
}

.contenedor .contenido .producto .marizq .img1 {
    grid-area: img1;
}

.contenedor .contenido .producto .marizq .img2 {
    grid-area: img2;
}

.contenedor .contenido .producto .marizq .img3 {
    grid-area: img3;
}

.contenedor .contenido .producto .marizq .img4 {
    grid-area: img4;
}

.contenedor .contenido .producto .marizq .imgsize {
    width: 150px;
    height: 150px;
}

.contenedor .contenido .producto .imagenProducto {
    grid-area: imagenProducto;
}

.contenedor .contenido .producto .infoProducto {
    grid-area: infoProducto;
}

.contenedor .contenido .producto .infoProducto .card {
    width: 100%;
}

.contenedor .contenido .producto .opCarrito {
    grid-area: opCarrito;
}

.contenedor .contenido .producto .comentarioProducto {
    grid-area: comentarioProducto;

}

.contenedor .contenido .producto .marder {
    grid-area: marder;
}


/* Prodcuto Contenido Fin */


/* Carrito Contenido Inicio */

.contenedor .contenido .Carrito {
    display: grid;
    grid-template-columns: 5% 70% 20% 5%;
    grid-template-rows: auto;
    grid-template-areas: "marizq tituloCarrito tituloCarrito marder" "marizq imagenCarrito  opCarrito marder";
}

.contenedor .contenido .Carrito {
    display: grid;
    grid-template-columns: 5% 70% 20% 5%;
    grid-template-rows: auto;
    grid-template-areas: "marizq tituloCarrito tituloCarrito marder" "marizq imagenCarrito  opCarrito marder";
}

@media screen and (max-width: 700px) {
    .contenedor .contenido .Carrito {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "marizq" "tituloCarrito" "opCarrito" "imagenCarrito" "marder";
    }
    .contenedor .contenido .Carrito .imagenCarrito .carritoCardCss .carritoCardInfoCss {
        justify-content: right;
        text-align: right;
        margin: 10px;
    }
    .contenedor .contenido .Carrito .opCarrito {
        grid-area: opCarrito;
        justify-items: right;
    }
    .contenedor .contenido .Carrito .imagenCarrito .carritoCardCss .carritoEliPreCss .Eli {
        display: inline;
        justify-self: right !important;
        size: 10px;
        margin-bottom: 1rem;
        margin-right: 1.5rem;
    }
    .contenedor .contenido .Carrito .imagenCarrito .carritoCardCss .carritoCardInfoCss {
        grid-area: carritoCardInfoCss;
        justify-content: right;
    }
    .contenedor .contenido .Carrito .imagenCarrito .carritoCardCss .carritoCardInfoCss h5 {
        grid-area: carritoCardInfoCss;
        font-size: medium;
        text-align: right;
        margin: 8px;
    }
    .contenedor .contenido .Carrito .imagenCarrito .carritoCardCss .carritoCardInfoCss .titulo {
        color: #ec9129;
        font-size: medium;
    }
}

@media screen and (max-width: 1500px) {
    .contenedor .contenido .Carrito .imagenCarrito .carritoCardCss .carritoCardInfoCss .titulo {
        color: #ec9129;
        font-size: medium;
    }
    .contenedor .contenido .Carrito .imagenCarrito .carritoCardCss .carritoCardInfoCss {
        margin-left: 4rem;
        justify-content: right;
    }
}

.contenedor .contenido .Carrito .marizq {
    grid-area: marizq;
}

.contenedor .contenido .Carrito .tituloCarrito {
    grid-area: tituloCarrito;
}

.contenedor .contenido .Carrito .imagenCarrito {
    grid-area: imagenCarrito;
}

.contenedor .contenido .Carrito .imagenCarrito .carritoCardCss {
    display: grid;
    margin: 1rem;
    grid-template-columns: 15% 85%;
    grid-template-areas: "carritoCardImgCss carritoCardInfoCss" "carritoCardImgCss carritoEliPreCss";
}

.contenedor .contenido .Carrito .imagenCarrito .carritoCardCss .carritoCardImgCss {
    grid-area: carritoCardImgCss;
}

.contenedor .contenido .Carrito .imagenCarrito .carritoCardCss .carritoCardImgCss .carritoImgCss {
    width: 200px;
    height: 200px;
}

.contenedor .contenido .Carrito .imagenCarrito .carritoCardCss .carritoCardInfoCss {
    grid-area: carritoCardInfoCss;
    padding-left: 2rem;
}

.contenedor .contenido .Carrito .imagenCarrito .carritoCardCss .carritoCardInfoCss .titulo {
    color: #ec9129;
}

.contenedor .contenido .Carrito .imagenCarrito .carritoCardCss .carritoEliPreCss {
    display: grid;
    grid-area: carritoEliPreCss;
}

.contenedor .contenido .Carrito .imagenCarrito .carritoCardCss .carritoEliPreCss .precio {
    margin-right: 2rem;
    font-size: large;
    justify-self: end;
    align-content: end;
}

.contenedor .contenido .Carrito .imagenCarrito .carritoCardCss .carritoEliPreCss .Eli {
    display: inline;
    justify-self: left;
    size: 15px;
    margin-left: 4rem;
    margin-bottom: 1rem;
}

.contenedor .contenido .Carrito .imagenCarrito .carritoCardCss .carritoCardInfoCss .b {
    font-size: 15px;
    color: black;
}

.contenedor .contenido .Carrito .imagenCarrito .carritoCardCss .carritoCardInfoCss .btn {
    width: 50px;
    height: 30px;
}

.contenedor .contenido .Carrito .opCarrito {
    grid-area: opCarrito;
}

.contenedor .contenido .Carrito .marder {
    grid-area: marder;
}


/* Carrito Contenido Fin */


/* Aqui comienza el grid del footer */

.contenedor .footer {
    display: grid;
}

.contenedor .footer .footerCcc {
    background-color: #404040;
}


/* Parte de ayuda al cliente inicio */


/* Grid de ayuda al cliente */

.ayuda {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: minmax(50px, 100px) minmax(200px, 100px) minmax( 100px, 1000px) minmax(50px, 100px);
    grid-template-rows: minmax(100px, auto) minmax(200px, auto) minmax( 100px, auto);
    grid-template-areas: "cabeza cabeza cabeza modifica" "espaIzq opcion contenido espaDere" "espaInIzq espaInCen espaInCen espaInDer";
}

.opciones {
    text-align: center;
    grid-column-start: opcion;
    grid-column-end: opcion;
    grid-row-start: opcion;
    grid-row-end: option;
}

.modifica {
    color: #8c8c8c;
    font-size: small;
    text-align: center;
    grid-column-start: modifica;
    grid-column-end: modifica;
}

.TerCondi {
    list-style: none;
    margin: 1%;
}

.opciones a {
    background-color: transparent;
    color: black;
    margin: 2%;
    height: 3rem;
    font-size: x-small;
}

.informacion li {
    padding-left: 35px;
    padding-right: 35px;
}

.informacion {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 15px;
    text-align: justify;
    grid-column-start: contenido;
    grid-column-end: contenido;
    grid-row-start: contenido;
    grid-row-end: contenido;
}

.opciones {
    border-left: 2px solid #0096c0;
}

.informacion h2 {
    text-align: center;
    color: #0046c2;
}

.informacion p {
    margin-top: 1%;
    margin-bottom: 1%;
}

.ayuda b {
    color: #0096c0;
}


/* Parte de ayuda al cliente fin */


/*Aqui comienza Aregarproducto form*/

.contenedor .contenido .agregarProductoCss {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "marizq tituloCss tituloCss tituloCss marder" "marizq proveCss famProCss sunFamCss marder" "marizq nomProCss nomProCss precioProCss  marder" "marizq desProCss desProCss  stockProCss marder" "marizq imagenProCss imagenProCss imagenProCss  marder" "marizq bttnCss bttnCss bttnCss marder";
}

.contenedor .contenido .agregarProductoCss .marizq {
    grid-area: marizq;
}

.contenedor .contenido .agregarProductoCss .tituloCss {
    grid-area: tituloCss;
}

.contenedor .contenido .agregarProductoCss .proveCss {
    grid-area: proveCss;
}

.contenedor .contenido .agregarProductoCss .famProCss {
    grid-area: famProCss;
}

.contenedor .contenido .agregarProductoCss .subfamCss {
    grid-area: subfamCss;
}

.contenedor .contenido .agregarProductoCss .nomProCss {
    grid-area: nomProCss;
}

.contenedor .contenido .agregarProductoCss .desProCss {
    grid-area: desProCss;
}

.contenedor .contenido .agregarProductoCss .precioProCss {
    grid-area: precioProCss;
}

.contenedor .contenido .agregarProductoCss .imagenProCss {
    grid-area: imagenProCss;
    margin-top: 1rem;
}


/*Esto es para subir varias imagenes a la vez INICIO Agregar P*/


/*Esto es para subir varias imagenes a la vez FIN Agregar P*/

.contenedor .contenido .agregarProductoCss .stockProCss {
    grid-area: stockProCss;
    width: 100px;
    margin-top: 1.9rem;
}

.contenedor .contenido .agregarProductoCss .bttnCss {
    grid-area: bttnCss;
    margin-bottom: 1rem;
}

.contenedor .contenido .agregarProductoCss .marder {
    grid-area: marder;
}

@media screen and (max-width: 1068px) {
    .contenedor .contenido .agregarProductoCss {
        display: grid;
        grid-gap: 0px !important;
        grid-template-rows: auto;
        grid-template-columns: 5% 30% 30% 30% 5%;
        grid-template-areas: "marizq tituloCss tituloCss tituloCss marder" "marizq proveCss famProCss sunFamCss marder" "marizq nomProCss nomProCss precioProCss marder" "marizq desProCss desProCss stockProCss marder" "marizq imagenProCss imagenProCss imagenProCss  marder" "marizq bttnCss bttnCss bttnCss marder";
    }
}

@media screen and (max-width: 600px) {
    .contenedor .contenido .agregarProductoCss {
        display: grid;
        grid-gap: 0px !important;
        grid-template-rows: auto;
        grid-template-columns: 5% 90% 5%;
        grid-template-areas: "marizq tituloCss marder" "marizq proveCss marder" "marizq famProCss marder" "marizq sunFamCss marder" "marizq nomProCss marder" "marizq precioProCss marder" "marizq desProCss  marder" "marizq stockProCss marder" "marizq imagenProCss marder" "marizq bttnCss marder";
    }
}


/*Aqui Termina Aregarproducto form*/


/*Aqui Empieza ActualizarProductoTabla form*/

.contenedor .contenido .actualizarProductoCss {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 5% 90% 5%;
}

.contenedor .contenido .actualizarProductoCss .actProTabCss {
    width: 90%;
    display: grid;
    justify-items: center;
    grid-area: actProTabCss;
    grid-column-start: 2;
}

.contenedor .contenido .actualizarProductoCss .actProTabCss .btnacP {
    margin-top: 1rem;
    width: 155px;
}


/*Aqui termina ActualizarProductoTabla form*/


/*Aqui Empieza RegistrarUser form*/

.contenedor .contenido .RegistroUserCss {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "marizq RegistroUserTituloCss marder" "marizq blockUnoRegistroUserCss marder" "marizq blockDosRegistroUserCss marder" "marizq blockTresRegistroUserCss marder" "marizq RegistroUserBtnCss marder";
}

.contenedor .contenido .RegistroUserCss .marizq {
    grid-area: marizq;
}

.contenedor .contenido .RegistroUserCss .RegistroUserTituloCss {
    grid-area: RegistroUserTituloCss;
}

.contenedor .contenido .RegistroUserCss .blockUnoRegistroUserCss {
    grid-area: blockUnoRegistroUserCss;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "RegistreUserPrimerApeCss RegistreUserSegundoApeCss" "RegistreUserNombreCss RegistreUserNombreCss";
}

.contenedor .contenido .RegistroUserCss .blockUnoRegistroUserCss .RegistreUserPrimerApeCss {
    grid-area: RegistreUserPrimerApeCss;
}

.contenedor .contenido .RegistroUserCss .blockUnoRegistroUserCss .RegistreUserSegundoApeCss {
    grid-area: RegistreUserSegundoApeCss;
}

.contenedor .contenido .RegistroUserCss .blockUnoRegistroUserCss .RegistreUserNombreCss {
    grid-area: RegistreUserNombreCss;
}

.contenedor .contenido .RegistroUserCss .blockDosRegistroUserCss {
    grid-area: blockDosRegistroUserCss;
    display: block;
}

.contenedor .contenido .RegistroUserCss .blockDosRegistroUserCss .RegistroUserTelCss {
    width: 30%;
}

.contenedor .contenido .RegistroUserCss .blockTresRegistroUserCss {
    grid-area: blockTresRegistroUserCss;
    display: block;
}

.contenedor .contenido .RegistroUserCss .RegistroUserBtnCss {
    grid-area: RegistroUserBtnCss;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contenedor .contenido .RegistroUserCss .marder {
    grid-area: marder;
}


/*Aqui termina RegistrarUser form*/


/*Comienza buscar producto estructura*/

.contenedor .contenido .buscarproductoCss {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto;
    grid-template-areas: "barraproductoCss barraproductoCss" "filtroproductoCss mostradorproductoCss";
}

@media screen and (max-width: 700px) {
    .contenedor .contenido .buscarproductoCss {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "barraproductoCss" "filtroproductoCss" "mostradorproductoCss";
    }
}

.contenedor .contenido .buscarproductoCss .barraproductoCss {
    grid-area: barraproductoCss;
}

@media screen and (max-width: 700px) {
    .contenedor .contenido .buscarproductoCss .barraproductoCss {
        grid-area: barraproductoCss;
        margin-left: 1rem;
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .contenedor .contenido .buscarproductoCss h5 {
        margin-left: 2rem;
        width: 80%;
    }
}

.contenedor .contenido .buscarproductoCss .filtroproductoCss {
    grid-area: filtroproductoCss;
    padding-left: 1rem;
    padding-right: 1rem;
}

.contenedor .contenido .buscarproductoCss .filtroproductoCss .opbuscarp {
    display: block;
}

@media screen and (max-width: 600px) {
    .contenedor .contenido .buscarproductoCss .filtroproductoCss .opbuscarp {
        display: none !important;
    }
}

.contenedor .contenido .buscarproductoCss .filtroproductoCss .BuscarPCssPhone {
    display: none;
}

@media screen and (max-width: 600px) {
    .contenedor .contenido .buscarproductoCss .filtroproductoCss .BuscarPCssPhone {
        display: block;
        margin-bottom: 0px;
    }
    .contenedor .contenido .buscarproductoCss .filtroproductoCss .BuscarPCssPhone .rc {
        width: 100%;
        height: 100%;
    }
}

.contenedor .contenido .buscarproductoCss .mostradorproductoCss {
    grid-area: mostradorproductoCss;
    padding: 2rem;
    width: 75%;
}

@media screen and (max-width: 700px) {
    .contenedor .contenido .buscarproductoCss .mostradorproductoCss {
        grid-area: mostradorproductoCss;
        padding: 10px;
        width: 100%;
    }
}

.contenedor .contenido .buscarproductoCss .mostradorproductoCss .buscarproductoCardCss {
    display: grid;
    margin: 1rem;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto;
    grid-template-areas: "buscarproductoCardImgCss buscarproductoCardInfoCss";
}

@media screen and (max-width: 600px) {
    .contenedor .contenido .buscarproductoCss .mostradorproductoCss .buscarproductoCardCss {
        display: grid;
        margin: 3px;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto;
        grid-template-areas: "buscarproductoCardImgCss buscarproductoCardInfoCss";
    }
    .contenedor .contenido .buscarproductoCss .mostradorproductoCss .buscarproductoCardImgCss {
        grid-area: buscarproductoCardImgCss;
        width: 150px !important;
        height: 150px !important;
        margin-top: 2rem;
    }
    .contenedor .contenido .buscarproductoCss .mostradorproductoCss .buscarproductoCardInfoCss .btnCss .titlulo {
        justify-content: center;
        color: #ec9129;
        font-size: medium;
    }
}

.contenedor .contenido .buscarproductoCss .mostradorproductoCss .buscarproductoCardCss:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    background: #f1f1f1;
}

.contenedor .contenido .buscarproductoCss .mostradorproductoCss .buscarproductoCardImgCss {
    grid-area: buscarproductoCardImgCss;
    width: 100%;
    height: auto;
}

.contenedor .contenido .buscarproductoCss .mostradorproductoCss .buscarproductoCardInfoCss {
    grid-area: buscarproductoCardInfoCss;
    display: grid;
}

.contenedor .contenido .buscarproductoCss .mostradorproductoCss .buscarproductoCardInfoCss .btnCss {
    background-color: transparent;
    display: grid;
    border: 0px;
    justify-self: stretch;
    text-align: left;
}

.contenedor .contenido .buscarproductoCss .mostradorproductoCss .buscarproductoCardInfoCss .btnCss .EstrellasBuscarPCss {
    margin-left: 1rem;
}

.contenedor .contenido .buscarproductoCss .mostradorproductoCss .buscarproductoCardInfoCss .btnCss .star {
    background: rgb(255, 217, 0);
    color: rgb(0, 0, 0);
    display: inline;
}

.contenedor .contenido .buscarproductoCss .mostradorproductoCss .buscarproductoCardInfoCss .btnCss .titlulo {
    justify-content: left;
    color: #ec9129;
}

.contenedor .contenido .buscarproductoCss .mostradorproductoCss .buscarproductoCardInfoCss .btnCss .titluloProve {
    color: #0046c2;
    margin-left: 2rem;
    justify-content: left;
}

.contenedor .contenido .buscarproductoCss .mostradorproductoCss .buscarproductoCardInfoCss .btnCss .precio {
    justify-self: flex-start;
    align-content: end;
    color: #0046c2;
    margin-right: 2rem;
    margin-left: 2rem;
}

.contenedor .contenido .buscarproductoCss .mostradorproductoCss .buscarproductoCardInfoCss .footerCardCss {
    display: grid;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-bottom: 5px;
}


/*Termina buscar producto estructura*/


/* AQUI VA EL DISEÑO DE LA TABLA DE ACTUALIZAR PRODUCTO CON COMPLEMENTO DE ORDER BY */


/* SI OCACIONA PROBLEMAS MOVER AL INICIO DE ACTUALIZARP */

@import url(https://fonts.googleapis.com/css?family=Open + Sans:400, 300,600,700,300italic,400italic);
.tabla {
    margin: 0 auto;
}

.tabla thead {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
}

.tabla thead tr th {
    font-weight: bold;
    padding: 10px 20px;
}

.tabla thead tr th span {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 55%;
}

.tabla thead tr th.headerSortUp,
.tabla thead tr th.headerSortDown {
    background: rgba(0, 0, 0, 0.2);
}

.tabla thead tr th.headerSortUp span {
    background-image: url("http://tablesorter.com/themes/blue/asc.gif");
}

.tabla thead tr th.headerSortDown span {
    background-image: url("http://tablesorter.com/themes/blue/desc.gif");
}

.tabla tbody tr td {
    text-align: center;
    padding: 10px 20px;
}

.tabla tbody tr td.align-left {
    text-align: left;
}

@import url(https://fonts.googleapis.com/css?family=Open + Sans:400, 300,600,700,300italic,400italic);
.tablaprom {
    margin: 0 auto;
}

.tablaprom thead {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
}

.tablaprom thead tr th {
    font-weight: bold;
    padding: 10px 20px;
}

.tablaprom thead tr th span {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 55%;
}

.tablaprom thead tr th.headerSortUp,
.tablaprom thead tr th.headerSortDown {
    background: rgba(0, 0, 0, 0.2);
}

.tablaprom thead tr th.headerSortUp span {
    background-image: url("http://tablesorter.com/themes/blue/asc.gif");
}

.tablaprom thead tr th.headerSortDown span {
    background-image: url("http://tablesorter.com/themes/blue/desc.gif");
}

.tablaprom tbody tr td {
    text-align: center;
    padding: 10px 20px;
}

.tablaprom tbody tr td.align-left {
    text-align: left;
}

.direccion-add {
    margin: 1%;
}

fieldset {
    border-radius: 30px;
    border: 1px solid #0096c0;
}

.Direc-mar {
    margin: 1%;
}

.Espacio {
    text-align: center;
}


/* GRID PARA DIRECCION */

.direccion-add {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, [col-start] minmax(150px, 1fr) [col-end]);
    grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax( 100px, auto) minmax(100px, auto);
    grid-template-areas: "alias espacio espacio" "calle calle numero" "estado ciudad codigo" "colonia referencia boton";
}

.direccion-add .Alias {
    padding: 15px;
    grid-column-start: alias;
    grid-column-end: alias;
}

.direccion-add .Espacio {
    grid-column-start: espacio;
    grid-column-end: espacio;
}

.direccion-add .Calle {
    grid-column-start: calle;
    grid-column-end: calle;
}

.direccion-add .Numero {
    grid-column-start: numero;
    grid-column-end: numero;
}

.direccion-add .Estado {
    grid-column-start: estado;
    grid-column-end: estado;
}

.direccion-add .Ciudad {
    grid-column-start: ciudad;
    grid-column-end: ciudad;
}

.direccion-add .CodigoPost {
    grid-column-start: codigo;
    grid-column-end: codigo;
}

.direccion-add .Colonia {
    grid-column-start: colonia;
    grid-column-end: colonia;
}

.direccion-add .Referencia {
    grid-column-start: referencia;
    grid-column-end: referencia;
}

.direccion-add .boton {
    grid-column-start: boton;
    grid-column-end: boton;
}

@media screen and (max-width: 600px) {
    .direccion-add {
        display: grid;
        grid-gap: 2px;
        grid-template-columns: minmax(100px, auto) minmax(100px, auto) minmax( 100px, auto);
        grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax( 100px, auto) minmax(100px, auto) minmax(100px, auto);
        grid-template-areas: "alias espacio espacio" "calle calle numero" "estado ciudad codigo" "colonia referencia referencia" "espacio boton espacio";
    }
    .direccion-add .Ciudad {
        grid-column-start: ciudad;
        grid-column-end: codigo;
    }
    .direccion-add .CodigoPost {
        grid-column-start: colonia;
        grid-column-end: colonia;
    }
    .direccion-add .Colonia {
        grid-column-start: referencia;
        grid-column-end: boton;
    }
    .direccion-add .Referencia {
        grid-column-start: 1;
        grid-column-end: -2;
    }
    .Espacio h5 {
        font-size: 100%;
    }
}


/* Para la pagina de mi cuenta*/

.contenedor .header .fotoperfilDiv .dropmenu {
    color: whitesmoke;
    min-width: 160px;
    background-color: #404040;
}

.OpcionesCuen {
    display: grid;
    grid-template-columns: minmax(50px, 100px) minmax(100px, 1fr) minmax(50px, 100px);
    grid-template-rows: repeat(3, minmax(30px, auto));
    grid-template-areas: "espaI cabeza espaD" "espaI contenidoC espaD" "espaI abajo espaD";
}

.opcionCu {
    width: 100%;
    border-radius: 5px;
    border: 2px inset rgba(0, 150, 192, 0.288);
}

.opcionCu {
    grid-column-start: contenidoC;
    grid-column-end: contenidoC;
    grid-row-start: contenidoC;
    grid-row-end: contenidoC;
}

.opcionCu {
    display: grid;
    grid-template-columns: minmax(30px, 40px) minmax(100px, 1fr) minmax(30px, 40px);
    grid-template-rows: repeat(2, minmax(30px, auto));
    grid-template-areas: "EspacioI FotoInfo EspacioD" "EspacioI OpcionesC EspacioD";
}

.ImgInfo {
    margin: 2%;
    grid-column-start: FotoInfo;
    grid-column-end: FotoInfo;
}

.ImgInfo {
    display: grid;
    grid-template-columns: minmax(100px, .5fr) minmax(100px, 1fr);
    grid-template-rows: repeat(1, minmax(30px, auto));
    grid-template-areas: "Foto Info";
}

.ImgC {
    grid-column-start: Foto;
    grid-column-end: Foto;
    text-align: right;
    padding-right: 5%;
}

.ImgC img {
    width: 85px;
    height: 80px;
    border-radius: 90px;
}

.InfoC {
    grid-column-start: Info;
    grid-column-end: Info;
    border-bottom: 2px solid #404040;
}

.InfoC b {
    color: #0096c0;
}

.InfoC p {
    margin-top: 7px;
    margin-bottom: 4px;
}

.InfoC span a {
    float: right;
    margin-bottom: 1%;
}

.ImgC .regresa {
    float: left;
}

.opcionesC {
    grid-column-start: OpcionesC;
    grid-column-end: OpcionesC;
    margin-bottom: 2%;
}

.opcionesC {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
    grid-template-rows: repeat(1, minmax(30px, auto));
    grid-template-areas: "opcion1 opcion2";
}

.opcionesC ul li {
    font-size: large;
    margin-top: 6px;
    margin-bottom: 12px;
}

.opcion1 {
    grid-column-start: opcion1;
    grid-column-end: opcion1;
}

.opcion2 {
    grid-column-start: opcion2;
    grid-column-end: opcion2;
}

.opcion1 {
    border-right: 2px solid #404040;
    padding: 2%;
    text-align: center;
}

.opcion1 ul li a {
    color: #0046c2 !important;
}

.opcion2 ul li a {
    color: #0046c2 !important;
}

.opcion2 {
    padding: 2%;
    text-align: center;
}

.opcion2 .red-i a {
    color: #cf1889 !important;
}

.opcionesMPC {
    grid-column-start: OpcionesC;
    grid-column-end: OpcionesC;
    margin-bottom: 2%;
}

.opcionesMPC {
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    grid-template-rows: repeat(1, minmax(30px, auto));
}

.opcion3 {
    font-size: large;
}

.opcion3 .btn-warning {
    background-color: #dfdc12d5;
    color: #404040;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.opcion3 .btn-danger {
    background-color: #ee1313d5;
    color: #404040;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.opcion3 .btn-info {
    color: #404040;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.opcion3 span a {
    margin-bottom: 1%;
}

.formularioEdit {
    padding: 3%;
    display: grid;
    grid-template-columns: minmax(60px, 1fr) minmax(60px, 1fr);
    grid-template-rows: minmax(100px, auto);
}

.formularioEdit div {
    padding: 3%;
}

.formularioEdit div button {
    float: right;
}

.formularioEdit2 {
    padding: 3%;
    display: grid;
    grid-template-columns: minmax(60px, 1fr);
    grid-template-rows: minmax(100px, auto);
}

.formularioEdit2 div {
    padding: 3%;
}

.formularioEdit2 div button {
    float: right;
}

.formularioEdit2 div span {
    font-size: 15px;
    color: #cf1889;
}

.editContra {
    width: 50%;
}

@media screen and (max-width: 600px) {
    .OpcionesCuen {
        display: grid;
        grid-template-columns: minmax(10px, 10px) minmax(100px, 1fr) minmax(10px, 10px);
        grid-template-rows: repeat(3, minmax(30px, auto));
        grid-template-areas: "espaI cabeza espaD" "espaI contenidoC espaD" "espaI abajo espaD";
    }
    .opcionCu {
        display: grid;
        grid-template-columns: minmax(20px, 20px) minmax(100px, 1fr) minmax(20px, 20px);
        grid-template-rows: repeat(2, minmax(30px, auto));
        grid-template-areas: "EspacioI FotoInfo EspacioD" "EspacioI OpcionesC EspacioD";
    }
    .opcion3 {
        font-size: smaller;
    }
    .opcion1 ul li a {
        font-size: smaller;
    }
    .opcion2 ul li a {
        font-size: smaller;
    }
    .formularioEdit {
        padding: 3%;
        display: grid;
        grid-template-columns: minmax(60px, 1fr);
        grid-template-rows: minmax(100px, auto) minmax(100px, auto);
    }
    .formularioEdit2 {
        padding: 3%;
        display: grid;
        grid-template-columns: minmax(60px, 1fr);
        grid-template-rows: minmax(100px, auto);
    }
    .editContra {
        width: 100%;
    }
    .ImgC .regresa {
        font-size: smaller;
        width: 85px;
        height: 30px;
        margin-bottom: 2%;
    }
}

.contenedor61 {
    display: grid;
    padding: 1rem;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "titulo titulo titulo titulo" "HederTres HederTres HederTres HederTres" "contenedor21 contenedor21 contenedor21 Pago";
}

@media screen and (max-width: 700px) {
    .contenedor61 {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 100%;
        grid-template-areas: "titulo" "HederTres" "contenedor21" "Pago";
    }
}

.contenedor61 .titulo {
    grid-area: titulo;
    margin-left: 2rem;
}

.contenedor61 .HederTres {
    grid-area: HederTres;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "Pan1 Pan2 Pan3";
}

@media screen and (max-width: 700px) {
    .contenedor61 .HederTres {
        grid-area: HederTres;
        display: grid;
        padding: 10px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "Pan1" "Pan2" "Pan3";
    }
    .contenedor61 .contenedor21 .carritoCardCss {
        display: grid;
        margin-top: 1rem;
        grid-template-columns: 50% 50%;
        grid-template-areas: "carritoCardInfoCss" "carritoCardImgCss" "carritoEliPreCss";
    }
}

.contenedor61 .HederTres .Pan1 {
    display: grid;
    grid-area: Pan1;
    justify-content: stretch;
    width: 80%;
}

.contenedor61 .HederTres .Pan2 {
    display: grid;
    justify-content: stretch;
    grid-area: Pan2;
    width: 80%;
}

.contenedor61 .HederTres .Pan3 {
    grid-area: Pan3;
    width: 90%;
    display: grid;
    justify-self: right;
    text-align: left;
}

.contenedor61 .HederTres .Pan3 .header {
    padding: 10px;
    background-color: white;
}

.contenedor61 .HederTres .Pan3 .i {
    margin-top: 1.5rem;
    color: #cf1889;
}

.contenedor61 .HederTres .Pan3 .c {
    background-color: white;
}

.contenedor61 .contenedor21 {
    grid-area: contenedor21;
    width: 95%;
}

.contenedor61 .contenedor21 .carritoCardCss {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 15% 85%;
    grid-template-areas: "carritoCardImgCss carritoCardInfoCss" "carritoCardImgCss carritoEliPreCss";
}

.contenedor61 .contenedor21 .carritoCardCss .carritoCardImgCss {
    grid-area: carritoCardImgCss;
}

.contenedor61 .contenedor21 .carritoCardCss .carritoCardImgCss .carritoImgCss {
    width: 200px;
    height: 200px;
}

.contenedor61 .contenedor21 .carritoCardCss .carritoCardInfoCss {
    grid-area: carritoCardInfoCss;
    padding-left: 2rem;
}

.contenedor61 .contenedor21 .carritoCardCss .carritoCardInfoCss .titulo {
    color: #ec9129;
}

.contenedor61 .contenedor21 .carritoCardCss .carritoEliPreCss {
    display: grid;
    grid-area: carritoEliPreCss;
}

.contenedor61 .contenedor21 .carritoCardCss .carritoEliPreCss .precio {
    margin-right: 2rem;
    font-size: large;
    justify-self: end;
    align-content: end;
}

.contenedor61 .contenedor21 .carritoCardCss .carritoEliPreCss .Eli {
    display: inline;
    justify-self: left;
    size: 15px;
    margin-left: 4rem;
    margin-bottom: 1rem;
}

.contenedor61 .contenedor21 .carritoCardCss .carritoCardInfoCss .b {
    font-size: 15px;
    color: black;
}

.contenedor61 .contenedor21 .carritoCardCss .carritoCardInfoCss .btn {
    width: 50px;
    height: 30px;
}

.contenedor61 .Pago {
    grid-area: Pago;
}

.contenedor61 .Pago {
    width: 100%;
    display: grid;
    justify-self: center;
    text-align: left;
}

.contenedor61 .Pago .header {
    padding: 10px;
    background-color: white;
}

.contenedor61 .Pago .i {
    margin-top: 1.5rem;
    margin-left: 1rem;
    color: #cf1889;
}

.contenedor61 .Pago .c {
    background-color: white;
}

.contenedor61 .Pago .card-action {
    display: grid;
}

.contenedor61 .Pago .card-action .bconf {
    justify-self: left;
}

.contenedor61 .Pago .card-action .bagre {
    margin-top: 1rem;
    text-align: left;
}

.contenedor61 .Pago .card-action .bcer {
    text-align: right;
    margin: 10px;
}

.contenedor .contenido .Pedidos {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: "marizq tituloP marder" "marizq tablaP marder";
}

.contenedor .contenido .Pedidos .marizq {
    grid-area: marizq;
    display: grid;
}

.contenedor .contenido .Pedidos .titutoP {
    grid-area: titutloP;
    display: grid;
}

.contenedor .contenido .Pedidos .tablaP {
    grid-area: tablaP;
    display: grid;
}

.contenedor .contenido .Pedidos .marder {
    grid-area: marder;
    display: grid;
}