@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
html {
    --card-color: #0096c0;
    --text-color: #a3e1de;
}

.TarjetaGrid {
    margin: 2%;
}

.TarjetaGrid .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 680px;
}

.TarjetaGrid .container .col1 {
    perspective: 1000;
    margin-right: 3%;
    transform-style: preserve-3d;
}

.TarjetaGrid .container .col1 .card {
    position: relative;
    width: 420px;
    height: 250px;
    margin-bottom: 85px;
    margin-right: 10px;
    border-radius: 17px;
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);
    transition: all 1s;
    transform-style: preserve-3d;
}

@media screen and (max-width: 600px) {
    .col1 {
        display: none;
    }
    .col2 {
        text-align: center;
    }
    .col2 input {
        width: 70% !important;
    }
    .col2 .ccv {
        width: 30% !important;
        margin-left: 5px !important;
    }
    .col2 .expire {
        width: 30% !important;
        margin-left: 5px !important;
    }
    .col2 label {
        width: 100% !important;
    }
    .inp {
        margin: 5%;
    }
    .TarjetaGrid .container {
        margin: auto;
        width: auto;
    }
}

.TarjetaGrid .invalid-feedback {
    font-size: 12px;
    color: red;
    opacity: .8;
}

.MensajeT {
    text-align: center;
}

.TarjetaGrid .btn-danger {
    background-color: #ee1313d5 !important;
}

.TarjetaGrid .container .col1 .card .front {
    position: absolute;
    background-image: url('../Imagenes/Tarjeta/bg-tarjeta-01.jpg');
    background-position: center;
    background-size: 450px 300px;
    border-radius: 17px;
    padding: 50px;
    width: 100%;
    height: 100%;
    transform: translateZ(1px);
    -webkit-transform: translateZ(1px);
    transition: background 0.3s;
    z-index: 50;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.TarjetaGrid .container .col1 .card .front .type {
    position: absolute;
    width: 75px;
    height: 45px;
    top: 20px;
    right: 20px;
}

.TarjetaGrid .container .col1 .card .front .type img {
    width: 100%;
    float: right;
}

.TarjetaGrid .container .col1 .card .front .card_number {
    position: absolute;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -1px;
    top: 110px;
    color: var(--text-color);
    word-spacing: 3px;
    transition: color 0.5s;
}

.TarjetaGrid .container .col1 .card .front .date {
    position: absolute;
    bottom: 40px;
    right: 55px;
    width: 90px;
    height: 35px;
    color: var(--text-color);
    transition: color 0.5s;
}

.TarjetaGrid .container .col1 .card .front .date_value {
    font-size: 12px;
    position: absolute;
    margin-left: 22px;
    margin-top: 12px;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.5s;
}

.TarjetaGrid .container .col1 .card .front .date_value::after {
    content: 'MONTH / YEAR';
    position: absolute;
    display: block;
    font-size: 8.4px;
}

.TarjetaGrid .container .col1 .card .front .fullname {
    position: absolute;
    font-size: 20px;
    bottom: 40px;
    color: var(--text-color);
    transition: color 0.5s;
}

.TarjetaGrid .container .col1 .card .back {
    position: absolute;
    width: 100%;
    border-radius: 17px;
    height: 100%;
    background-image: url('../Imagenes/Tarjeta/bg-tarjeta-03.jpg');
    background-size: 450px 300px;
    transform: rotateY(180deg);
}

.TarjetaGrid .container .col1 .card .back .magnetic {
    position: absolute;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 25px;
}

.TarjetaGrid .container .col1 .card .back .bar {
    position: absolute;
    width: 80%;
    height: 37px;
    background: rgba(255, 255, 255, 0.7);
    left: 10px;
    margin-top: 100px;
}

.TarjetaGrid .container .col1 .card .back .seccode {
    font-size: 13px;
    color: var(--text-color);
    font-weight: 500;
    position: absolute;
    top: 100px;
    right: 40px;
}

.TarjetaGrid .container .col1 .card .chip {
    bottom: 130px;
    left: 50px;
}

.TarjetaGrid .container .col1 .card .disclaimer {
    position: absolute;
    width: 65%;
    left: 80px;
    color: #f1f1f1;
    font-size: 8px;
    bottom: 55px;
}

.TarjetaGrid .col2 label {
    padding-left: 8px;
    font-size: 15px;
    color: #444;
}

.TarjetaGrid .ccv {
    width: 40%;
}

.TarjetaGrid .buy {
    width: 260px;
    height: 50px;
    position: relative;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    border: none;
    background: #42C2DF;
    color: white;
    font-size: 20px;
    transition: background 0.4s;
    cursor: pointer;
}

.TarjetaGrid .buy i {
    font-size: 20px;
}

.TarjetaGrid .buy i::hover {
    background: #3594A9;
    transition: background 0.4s;
}

.TarjetaGrid .chip {
    position: absolute;
    width: 55px;
    height: 40px;
    border-radius: 7px;
    background-image: url('https://img.icons8.com/plasticine/2x/sim-card-chip.png');
    background-position: center;
    background-size: 75px 66px;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #0096c0;
    opacity: .5
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #0096c0;
    opacity: .5/* esto es porque Firefox le reduce la opacidad por defecto */
    ;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #0096c0;
    opacity: .5;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #0096c0;
    opacity: .5;
}